<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="animate__animated animate__backInDown">
      Ponto de Trabalho da Ingrinha
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="animate__animated animate__bounceInUp">
    <ion-item-sliding *ngFor="let item of tarefaCollection">
      <ion-item *ngIf="tarefaCollection.length <= 1 && item.descricao==null">
        <ion-label>Não há Dias</ion-label>
      </ion-item>
      <ion-item *ngIf="item.data!=null" (click)="openActions(item)">
        <ion-label class="teste">
            <h2 *ngIf="item.data!=null && item.descricao!=null" class="text"><strong>{{converteDataParaPadraoBrasileiro(item.data)}}</strong></h2>
            <p class="text-quantidade" *ngIf="item.data!=null && item.descricao!=null">| Descrição: {{item.descricao + ' |'}}</p>
            <p class="text-quantidade" *ngIf="item.data!=null && item.descricao!=null">Feito Hora: {{item.extra + ' |'}}</p>
            <p class="text-quantidade" *ngIf="item.data!=null && item.descricao!=null">Hora Extra: {{item.hora + ' |'}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end" *ngIf="item.data!=null">
        <ion-item-option color="danger" (click)="delete(item)">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-item >
    <ion-label>
      <p>Tempo total de horas extras é de {{ tempoTotalHora + ' horas e ' + tempoTotalMinuto + ' minutos'}}</p>
    </ion-label>
  </ion-item>

  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button (click)="showPix()" color="success" class="animate__animated animate__bounce">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" vertical="center" slot="fixed" *ngIf="tarefaCollection.length <= 1">
    <ion-fab-button (click)="showArray()" color="success" class="animate__animated animate__bounce">
      <ion-icon name="information-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom:60px;">
    <ion-fab-button (click)="showAdd()" color="primary" class="animate__animated animate__bounce">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showExclusion()" color="danger" class="animate__animated animate__bounce">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>